extends index.pug 
block content 
    if errorMessage
        p #{errorMessage}
    form(action="/schedules" method="POST")
        label(for="user_email") User email *
        input(type="email" id="user_email" name="user_email" value=data.user_email required)
        label(for="day") Day * 
        input(type="text" id="day" name="day" value=data.day required)
        label(for="start_at") Start at: * 
        input(type="time" id="start_at" name="start_at" value=data.start_at required)
        label(for="end_at") End at: *
        input(type="time" id="end_at" name="end_at" value=data.end_at required)
        button(id="send" type="submit") ENVOYER 
    a(href='http://localhost:3000/schedules') See schedules 